.footer {
    background-color: black;
    max-width: 1440px;
    height: 20px;
    font-size: 11px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        color: $darkGrayishBlue;
    }

    &__link {
        color: hsl(228, 45%, 44%);
    }
}
