@media (max-width: 520px) {
    .wrapper {
        padding: 0 20px;
        max-width: 350px;
        width: 100%;
    }

    p,
    input,
    button,
    .wrapper,
    .items_left,
    .dnd__text {
        font-size: 10px;
    }
}

@media (max-width: 300px) {
    p,
    input,
    button,
    .wrapper,
    .items_left,
    .dnd__text {
        font-size: 9px;
    }
}
