.title {
    color: $veryDarkGrayishBlue;
    padding-left: 20px;
    flex-basis: 80%;

    &__dark {
        color: $lightGrayishBlueDark;
    }
}

.todo_list {
    padding-bottom: 30px;

    &__empty {
        line-height: 213px;
        text-align: center;
        text-transform: uppercase;
        color: $darkGrayishBlue;
    }

    &__container {
        height: 313px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__dark {
            background-color: $veryDarkDesaturatedBlue;
        }
    }

    &__information {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }

    &__configuration {
        display: flex;
        padding: 0 15px 10px;

        &__button {
            width: calc(100% / 3);
            color: $darkGrayishBlue;

            &:hover {
                color: $veryDarkGrayishBlue;
            }
        }
    }
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 20px;
    cursor: pointer;

    &_dnd_zone {
        border-bottom: 1px solid $veryLightGrayishBlue;

        &__dark {
            border-color: $veryDarkGrayishBlueDarkSecond;
        }

        &:last-child {
            border: none;
        }
    }

    &__information {
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }

    &__dark {
        background-color: $veryDarkDesaturatedBlue;
    }
}

.todos {
    overflow-y: auto;
    border-bottom: 2px solid $lightGrayishBlue;
    border-bottom-right-radius: 6px;

    &__dark {
        border-color: $lightGrayishBlueDark;
    }
}

.todo_dnd_zone__over {
    border-radius: 5px;
    background-color: hsl(233, 11%, 84%);
}

.todos_categories {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__button {
        padding: 10px 0;
        width: calc(100% / 3);
        color: $darkGrayishBlue;
        font-weight: 700;

        &:hover {
            color: $veryDarkGrayishBlue;
        }

        &__selected {
            color: $brightBlue;
        }
    }
}

.items_left {
    font-size: 12px;
    text-align: center;
    color: $darkGrayishBlue;
    padding-bottom: 10px;
}

.completed {
    color: $lightGrayishBlue;
    text-decoration: line-through;

    &__dark {
        color: $darkGrayishBlueDark;
    }
}
